apiVersion: v1
kind: Secret
metadata:
  name: auth-secret
type: Opaque
stringData:
  FLASK_SECRET_KEY: "Секретный ключ"
  YANDEX_CLIENT_SECRET: "Секретный ключ Yandex клиента"
  POSTGRES_PASSWORD: "Пароль базы данных"
  MAIL_PASSWORD: "Пароль почты выданный почтовым сервисом"
  GOOGLE_CLIENT_SECRET: "Секретный ключ Google клиента"
  GOOGLE_CLIENT_SECRET_WEB: "Секретный ключ Google клиента для веб-приложения"
  GOOGLE_CLIENT_ID: "ID Google клиента"
  GOOGLE_CLIENT_ID_WEB: "ID Google клиента для веб-приложения"